{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <section class="text-gray-600 body-font ">
        <figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
            <img class="w-24 h-24 rounded-full mx-auto" src="{% static 'img/JesusRamirez.jpg' %}" alt="Jesus Ramirez Arquitecto IT" >            
            <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                <blockquote>
                <p class="text-lg font-medium w-4/5 mx-auto">
                    “IT & Digital Manager, especialista en implementación de estrategias de transformación digital con 17 años de experiencia diseñando e implementando exitosamente estrategias de marketing, comercialización y ventas a nivel regional y local. Master in Business Administration (MBA) del AB Freeman School of Business at Tulane University ( EEUU) y de la Escuela de Negocios de la Pontificia Universidad Católica( Perú ) enfocado en la gestión de proyectos ,estrategias e innovación Digital en los sectores de consumo masivo, venta directa, reparto/distribución , seguridad y gestión del riesgo.”
                </p>
                </blockquote>
                <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-sky-400 w-4/5 mx-auto">
                    Jesus Ramirez
                </div>
                <div class="text-slate-700 dark:text-slate-500 w-4/5 mx-auto">
                    New Django Developer
                </div>
                </figcaption>
            </div>
        </figure>    
    </section>
    <section class="text-gray-600 body-font">
        <figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
            <img class="w-24 h-24 rounded-full mx-auto" src="{% static 'img/LucianoFrancesconi.png' %}" alt="Luciano Francesconi" >            
            <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                <blockquote>
                <p class="text-lg font-medium w-4/5 mx-auto">
                    “Estudiante y entusiasta de ingenieria informatica, actualmente cursando estudios terciarios en Universidad Nacional de La Plata (Unlp ) En Argentina y en la Academia Coderhouse. Con experiencia en las tecnologías de Microsoft, programación en Python y el manejo de base de datos SQL.”
                </p>
                </blockquote>
                <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-sky-400 w-4/5 mx-auto">
                    Luciano Francesconi
                </div>
                <div class="text-slate-700 dark:text-slate-500 w-4/5 mx-auto">
                    New Django Developer
                </div>
                </figcaption>
            </div>
        </figure>    
    </section>
    <section class="text-gray-600 body-font">
        <figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800 pb-20">
            <img class="w-24 h-24 rounded-full mx-auto" src="{% static 'img/MarioReina.jpeg' %}" alt="Mario Reina" >            
            <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                <blockquote>
                <p class="text-lg font-medium w-4/5 mx-auto">
                    “Desarrollador y Administrador de Base de Datos, con más de 12 años de experiencia utilizando tecnologías de Oracle y Microsoft, para ofrecer soluciones en diferentes áreas.
                    Actualmente desarrollándome como Ingeniero de Datos para diferentes proyectos.”
                </p>
                </blockquote>
                <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-sky-400 w-4/5 mx-auto">
                    Mario Reina
                </div>
                <div class="text-slate-700 dark:text-slate-500 w-4/5 mx-auto">
                    New Django Developer
                </div>
                </figcaption>
            </div>
        </figure>    
    </section>        
    
</main>
{% endblock content %}