{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css"/>

<main>


    <div class="flex bg-gray-100 font-sans leading-normal tracking-normal pb-20"> 
        <!--Container-->
        <div class="container w-4/6 md:max-w-3xl mx-auto pt-10 ">    
            <div class=" pt-20 pb-20">
                <!-- Implement the carousel -->
                <div class="relative w-[700px] mx-auto">
                    <div class="slide relative">
                        <img class="w-full h-[500px] object-cover"
                            src="{% static 'img/Adoptame01.jpg' %}">
                        <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">
                            ¡Hola, mi nombre es Tini! 

                            Soy un poquito tímida pero muy cariñosa, ando en busca de mi familia por siempre  Además, si me adoptas, vengo con un kit de regalos ¡Anímate!
                            Sexo: Hembra
                            Tamaño: Mediano
                            Nivel de Actividad: Medio
                            Fecha aprox de nacimiento: Agosto 2020

                        </div>
                    </div>

                    <div class="slide relative">
                        <div class="absolute bottom-500 w-full px-5 py-3 bg-black/100 text-center text-white">
                            ¡Adoptada ... No podria ser mas Feliz!              
                        </div>               
                        <img class="w-full h-[500px] object-cover"
                        src="{% static 'img/Adoptame02.jpg' %}">
                        <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">
                            ¡Hola, mi nombre es Winston! 

                            Soy muy sociable, me encanta conocer a nuevas personas que me visitan en mi albergue. Deseo encontrar mi familia por siempre. Además, si me adoptas, vengo con un kit de regalos ¡Anímate!
                            Sexo: Macho
                            Tamaño: Mediano
                            Nivel de Actividad: Medio
                            Fecha aprox de nacimiento: Enero 2020                
                        </div>
                    </div>

                    <div class="slide relative">       
                        <img class="w-full h-[500px] object-cover"
                        src="{% static 'img/Adoptame03.jpg' %}">
                        <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">
                            ¡Hola, mi nombre es Candy! 

                            Me rescataron de las calles junto a mis 3 cachorros. Soy muy cariñosa y es por eso que estoy en busca de una familia que me ame por siempre. Además, si me adoptas, vengo con un kit de regalos ¡Anímate!
                            Sexo: Hembra
                            Tamaño: Mediano
                            Nivel de Actividad: Medio
                            Fecha aprox de nacimiento: Febrero 2019                
                        </div>
                    </div>     

                    <div class="slide relative">
                        <img class="w-full h-[500px] object-cover"
                        src="{% static 'img/Adoptame04.jpg' %}">
                        <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">
                            ¡Hola, mi nombre es Tokio! 

                            Soy muy juguetona, me encanta correr y dar largos paseos por el parque. También soy muy cariñosa, y es por eso que estoy en busca de una familia que me ame por siempre. Además, si me adoptas, vengo con un kit de regalos ¡Anímate!
                            Sexo: Hembra
                            Tamaño: Mediano
                            Nivel de Actividad: Medio
                            Fecha aprox de nacimiento: Enero 2021                
                        </div>
                    </div>  

                    <!-- The previous button -->
                    <a class="absolute left-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white hover:text-amber-500 cursor-pointer"
                        onclick="moveSlide(-1)"><</a>

                    <!-- The next button -->
                    <a class="absolute right-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white hover:text-amber-500 cursor-pointer"
                        onclick="moveSlide(1)">></a>

                </div>
                <br>
                <!-- The dots -->
                <div class="flex justify-center items-center space-x-5">
                    <div class="dot w-4 h-4 rounded-full cursor-pointer" onclick="currentSlide(1)"></div>
                    <div class="dot w-4 h-4 rounded-full cursor-pointer" onclick="currentSlide(2)"></div>
                    <div class="dot w-4 h-4 rounded-full cursor-pointer" onclick="currentSlide(3)"></div>
                    <div class="dot w-4 h-4 rounded-full cursor-pointer" onclick="currentSlide(4)"></div>
                </div>
            </div>
        </div>
        <div class="container w-2/6 md:max-w-3xl mx-auto pt-20 " >

            {%if result %}            
            <div>
                <p class="mb-8 lg:mb-16 font-light text-center text-white dark:text-white sm:text-xl bg-black">
                    {{result.name}} muy pronto te contacaremos a <br>
                    {{result.email}}
                </p>
            </div>      
            {% endif %}   

            {% if form.subject.errors %}
            <ol>
                {% for error in form.subject.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}            

            <form action='/embrace/' method='POST' accept-charset="utf-8">{% csrf_token %}
                <fieldset>
                    <legend class="pb-8"><span class="number">1</span>Basic Info</legend>
                    {{form.as_div}}
                </fieldset>
                <div class="relative z-0 mb-6 w-full group flex justify-center pt-10">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Adoptar</button>
                </div>                
            </form>
        </div>
    </div>                        

<!-- Javascript code -->
<!-- Probado script incrustado -->
<script>

    window.onload = function() {
        setInterval(moveSlide, 5000);
    }
    // set the default active slide to the first one
    let slideIndex = 1;
    showSlide(slideIndex);

    // change slide with the prev/next button
    function moveSlide(moveStep=1) {
        showSlide(slideIndex += moveStep);
    }

    // change slide with the dots
    function currentSlide(n) {
        showSlide(slideIndex = n);
    }

    function showSlide(n) {
        let i;
        const slides = document.getElementsByClassName("slide");
        const dots = document.getElementsByClassName('dot');
        
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }

        // hide all slides
        for (i = 0; i < slides.length; i++) {
            slides[i].classList.add('hidden');
        }

        // remove active status from all dots
        for (i = 0; i < dots.length; i++) {
            dots[i].classList.remove('bg-yellow-500');
            dots[i].classList.add('bg-green-600');
        }

        // show the active slide
        slides[slideIndex - 1].classList.remove('hidden');

        // highlight the active dot
        dots[slideIndex - 1].classList.remove('bg-green-600');
        dots[slideIndex - 1].classList.add('bg-yellow-500');
    }
</script>
</main>
{% endblock content %}