{% extends 'base.html' %}

{% block content %}

<style>
  .cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor .6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%, 40% {
    opacity: 1;
  }

  60%, 100% {
    opacity: 0;
  }
}
</style>


    <div class="w-full bg-cover bg-center" >
      <div class="py-5 flex items-center justify-center h-full w-full">
        <!-- <h2 class="tracking-widest text-9xl title-font font-serif text-white mb-1">
          MY BLOG
        </h2> -->
        <h1 class="mb-2 font-mono text-4xl text-black-500 md:text-6xl">
          Welcome to <br class="block md:hidden" />
            <span class="relative">
                <span class="h-20 pt-2 overflow-x-hidden whitespace-nowrap text-brand-accent"> MY BLOG  .............................
                    <span class="text-3xl md:text-10xl">👋😒 </span>   
                </span>
                <span class="cursor absolute -bottom-0 left-0 -top-1 inline-block bg-white w-full animate-type will-change"></span>
            </span>
        </h1>
        </div>
    </div>  

    <!-- component -->
<style>
  .w-70 {
    width: 20rem;
	}
</style>

{% endblock content %}