{% extends "base.html" %}

{% block title_pagina %}
<title>Logout</title>
{% endblock title_pagina %}

{% block content %}
{% load static %}
<script src="{% static 'js/contador.js' %}"></script>
<section >    
    <div>
        <p class="text-right pt-6 pr-6"> puedes continuar navegando o esperar <a id="counter-label">Loading ...</a> </p>
    </div>   
</section>       
<a href="{% url 'homepage' %}">
    <section class="bg-white dark:bg-gray-900 pt-20 " >    
        <div class="py-8 lg:py-4 px-4 mx-auto max-w-screen-md">
            <blockquote>
            <p class="text-2xl font-medium mx-auto  flex justify-center">
                Cerraste sesion correctamente.
            </p>
            </blockquote>      
        </div>
    </section>
    <section class="bg-white dark:bg-gray-900 " >    
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <img class="rounded-lg mx-auto" 
                src="{% static 'img/CerrarSession/'%}{{result.image }}"
                alt="Best Briend Forever ( BFF )" > 
        </div>
    </section>   
</a>
{% endblock content %}
