{% extends "base.html" %}

{% block title_pagina %}
<title>Editar Password</title>
{% endblock title_pagina %}

{% block content %}
{% load static %}
<section class="bg-white dark:bg-gray-900 pb-20" >    
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Cambiar de Password</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-sm ">
            Una contraseña o clave es una forma de autentificación que utiliza información secreta para controlar el acceso hacia algún recurso. La contraseña debe mantenerse en secreto ante aquellos a quien no se les permite el acceso. A aquellos que desean acceder a la información se les solicita una clave; si conocen o no conocen la contraseña, se concede o se niega el acceso a la información según sea el caso.
        </p>  

            <form action="{% url 'password_editar' %}" method="POST">
                {% csrf_token %}
     
                
                    {% comment %} {{ form.old_password }}  {% endcomment %}
               <div>  
                   {% if form.old_password.errors %}
                    {{ form.old_password.errors }}                     
                    {% endif %}
                    <label for="{{form.old_password.id_for_label }}"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{form.old_password.label_tag}}</label>    
                    <input type="password"
                    name="{{form.old_password.name}}"
                    id="{{form.old_password.id_for_label}}"
                    {% if form.old_password.value != None %}value="{{ form.old_password.value|stringformat:'s' }}"{% endif %}
                    maxlength="100"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Ingresa tu Password Actual" 
                    required >
                </div>  
                    {% comment %} {{ form.new_password1 }} {% endcomment %}
                <div>
                    <div class="text-red-500 hover:text-green-600 relative z-0 mb-6 w-full group flex justify-center pt-5 text-center" >         
                        <b>Nota : Es obigatoria seguir estas recomendaciones para tu nuevo Password.</b>
                    </div>
                    <div class="relative z-0 mb-6 w-full group flex justify-center text-center" >
                        {{ form.new_password1.help_text | safe }}     
                    </div>
                    {% if form.new_password1.errors %}
                    {{ form.new_password1.errors }}                     
                    {% endif %}
                    <label for="{{form.new_password1.id_for_label }}"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{form.new_password1.label_tag}}</label>    
                    <input type="password"
                    name="{{form.new_password1.name}}"
                    id="{{form.new_password1.id_for_label}}"
                    {% if form.new_password1.value != None %}value="{{ form.new_password1.value|stringformat:'s' }}"{% endif %}
                    maxlength="100"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Ingresa tu Nuevo Password" 
                    required >     
                </div>  
                <div>         
                    {% comment %} {{ form.new_password2 }} {% endcomment %}   
       
                    <label for="{{form.new_password2.id_for_label }}"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{form.new_password2.label_tag}}</label>    
                    <input type="password"
                    name="{{form.new_password2.name}}"
                    id="{{form.new_password2.id_for_label}}"
                    {% if form.new_password2.value != None %}value="{{ form.new_password2.value|stringformat:'s' }}"{% endif %}
                    maxlength="100"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Ingresa tu Nuevo Password" 
                    required >     
                    {% if form.new_password2.errors %}
                    {{ form.new_password2.errors }}       
                    {% endif %}                                     
                    
                </div>               
       
                
                

                {% comment %} 
                {% for field in form %}
                    <div class="pb-5 flex flex-row ">

                        {{ field.errors }}
                        <label for="{{field.id_for_label }}"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{field.label_tag}}</label>
                
                        {{ field }} 
                        <input type="text"
                        name="{{field.id_for_label }}"
                        id="{{field.id_for_label }}"
                        {% if field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
                        maxlength="100"
                        required
                        type="password"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="" 
                        required >                        
                    </div>
                        {{field.label_tag}}
                        {{ field }}
                        {{ field.help_text | safe }}
                        {% if field.errors %}
                            {{ field.errors }} 
                        {% endif %}                            
                {% endfor %}      {% endcomment %}
                <div class="relative z-0 mb-6 w-full group flex justify-center pt-5 ">
                    <div class="pr-5">
                        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cambio password</button>
                    </div>
                </div>                 
            </form>
    </div>
</section>   
{% endblock content %}